<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Edit employee</h2>
    <form th:action="@{/emps/save}" th:object="${emp}" method="POST">
        <input type="hidden" id="id" th:field="*{id}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter name" th:field="*{name}" class="form-control">
        </div>
        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="text" id="salary" placeholder="Enter salary" th:field="*{salary}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <hr>
    <a th:href="@{/}">Home page</a>
</div>
</body>
</html>