<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h3>Employees</h3>
    </div>

    <hr>

    <div class="container pb-1">
        <table width="100%">
            <tr>
                <td align="left">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/emps/edit(id=0)}" type="button" class="btn btn-primary">Add Employee</a>
                    </div>
                </td>
                <td align="right">
                    User: <span sec:authentication="name"></span>
                </td>
                <td align="right">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" value="Logout" class="btn btn-outline-primary ml-sm-2" />
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <th>Action</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="temp : ${emps}">
                    <td th:text="${temp.id}"/>
                    <td th:text="${temp.name}"/>
                    <td th:text="${temp.salary}"/>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <td>
                            <a type="button" th:href="@{/emps/edit(id=${temp.id})}" class="btn btn-warning">Edit</a>
                            <a type="button" th:href="@{/emps/delete(id=${temp.id})}" class="btn btn-danger"
                                onclick="if(!(confirm('Are you sure?'))) return false">
                                Delete
                            </a>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="container">
        <a th:href="@{/hello}">Say hello</a>
    </div>

</body>
</html>
